hr {
    color: #d0d0d5;
    border: double;
    border-width: 3px 5px;
    border-color: #d0d0d5 transparent;
    height: 1px;
    overflow: visible;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
hr:before, 
hr:after {
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    border-width: 0 3px 3px 0;
    border-style: double;
    top: -3px;
    background: radial-gradient(2px at 1px 1px, currentColor 2px, transparent 0) no-repeat;
}
hr:before {
    transform: rotate(-45deg);
    left: -20px;
}
hr:after {
    transform: rotate(135deg);
    right: -20px;
}
.card {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.title {
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 18px;
}

.item {
    clear: both;
}

.item:after {
    content: '\20';
    clear: both;
    display: block;
    height: 0;
}

.textarea {
    line-height: 20px;
    width: 100%;
    outline: none;
}

.btn {
    height: 38px;
    line-height: 38px;
    border: 1px solid transparent;
    padding: 0 18px;
    background-color: #EF5767;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#text {
    min-height: 20em;
    color: #111111;
    padding: 20px;
}

#exp {
    height: 38px;
    outline: none;
    color: #111111;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
